<!-- section menu -->
<section class="menu section">
    <div class="container">
        <ul>
            <li>
                <ul>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle">Перші страви</h4>
                            <h5 class="dish__name">борщ</h5>
                            <p class="dish__ingredients">буряк,капуста,картопля,квасоля,морква,цибуля</p>
                            <p class="dish__weight">300г</p>
                            <p class="dish__price">95грн</p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__ingredients"></p>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__ingredients"></p>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__ingredients"></p>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__ingredients"></p>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                    <li>
                        <div class="menu__section">
                            <h4 class="section__subtitle"></h4>
                            <h5 class="dish__name"></h5>
                            <p class="dish__weight"></p>
                            <p class="dish__price"></p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- some code -->
    </div>
</section>