<!-- section menu -->
<section class="menu section">
    <div class="container">
        <ul>
            <li>
                <h4 class="section__subtitle">Гарячі страви</h4>
                <ul>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include> 
                        </div>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include> 
                        </div>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include> 
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h4 class="section__subtitle">Гарніри та закуски</h4>
                <ul>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                </ul>
            </li>
            <li>
                <h4 class="section__subtitle">Салати</h4>
                <ul>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>
                    <li>
                        <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }
                        </include>
                    </li>                    
                </ul>
            </li>
            <li>
                <h4 class="section__subtitle">Десерти</h4>
                <ul>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Торт наполеон",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                    </include>
                    </li>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Торт наполеон",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                    </include>
                    </li>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Торт наполеон",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                    </include>
                    </li>                    
                </ul>
            </li>
            <li>
                <h4 class="section__subtitle">Напої</h4>
                <ul>                    
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Чай чорний/зелений",                            
                            "weight": "500 г",
                            "price": "100 грн"
                        }
                    </include>
                    </li>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Чай чорний/зелений",                            
                            "weight": "500 г",
                            "price": "100 грн"
                        }
                    </include>
                    </li>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Чай чорний/зелений",                            
                            "weight": "500 г",
                            "price": "100 грн"
                        }
                    </include>
                    </li>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Чай чорний/зелений",                            
                            "weight": "500 г",
                            "price": "100 грн"
                        }
                    </include>
                    </li>
                    <li>
                        <include src="./components/dish-template--one-row.html">{
                            "title": "Чай чорний/зелений",                            
                            "weight": "500 г",
                            "price": "100 грн"
                        }
                    </include>
                    </li>
                </ul>
            </li>
        </ul>
        Забронювати столик
        <include src="./components/button.html">{
            "text": "Забронювати столик"}
    </include>      
        <!-- some code -->
    </div>
</section>