
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Times New Roman', sans-serif;
$font-family-logo: 'FilmP3', sans-serif;
// жирність шрифту
$font-weight-primary: 700;
$font-weight-secondary: 500;
$font-weight-tertiary: 300;
$font-weight-quaternary: 600;
// розмір шрифту
$font-size-primary: 16px;
$font-size-secondary: 14px;
$font-size-tertiary: 20px;
$font-size-quaternary: 24px;

// колор
$color-primary: #757575;
$color-secondary: #212121;
$color-brand: #2f303a;
$color-img-portfolio__overlay: rgba(47, 48, 58, 0.4);

$color-accent: #F3C653;
$color-brown: #C79002;

$color-background-header: #474747;

$color-background: #FFFDEE;

$color-background-light: #f5f4fa;

$color-logo: #ffffff;

$color-hero: #ffffff;

$color-white: #ffffff;

$color-activ-btn: #188ce8;
$color-header-border: #ececec;
$color-border-box: #eeeeee;
$color-icon: #afb1b8;
$color-contact-footer: rgba(255, 255, 255, 0.6);
// анімація
$color-background-box: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// іконкі
$fill-icon-dark: #212121;

// форми
$border-form: 1px solid rgba(33, 33, 33, 0.2);
