// logo
.logo-link {
  margin-right: auto;
  color: $color-logo;
  font-family: $font-family-logo;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.083;
  text-decoration: none;
  letter-spacing: 0.3em;

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: 1.075;
  }
}

