<!-- <div class="table-dish table-dish--one-row">
	<table>
	  <tbody>
		<tr>
			<td class="table-dish__title table-dish__title--one-row">{{ title }}</td>
			<td class="table-dish__weight ">{{ weight }}</td>
			<td class="table-dish__price ">{{ price }}</td>
		</tr>		
	  </tbody>
  </table>
</div> -->

<!-- HOW TO USE>>>>>>> -->

<!--

	
	 <include src="./components/dish-template--one-row.html">{
                            "title": "Торт наполеон",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }</include> 


					-->
<div class="table-dish table-dish--one-row">
	<table>
	  <tbody>
		<tr>
			<td class="table-dish__title table-dish__title--one-row">{{ title }}</td>
			<td class="table-dish__weight ">{{ weight }}</td>
			<td class="table-dish__price ">{{ price }}</td>
		</tr>		
	  </tbody>
  </table>
</div>