<div class="table-dish"><table>
	<tbody>
		<tr>
			<td class="dish__title">{{ title }}</td>
			<td class="dish__weight" rowspan="2">{{ weight }}</td>
			<td class="dish__price" rowspan="2">{{ price }}</td>
		</tr>
		<tr>
			<td class="dish__ingredients">{{ ingredients }}</td>
		</tr>
	</tbody>
</table></div>

<!-- HOW TO USE>>>>>>> -->

<!-- 
        
    <include src="./components/dish-template.html">{
                            "title": "Борщ з телятини з квасолею ",
                            "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана ",
                            "weight": "400 г",
                            "price": "240 грн"
                        }</include> 


                    -->

