<div class="table-dish--one-row"><table>
	<tbody>
		<tr>
			<td class="dish__title--one-row">{{ title }}</td>
			<td class="dish__weight--one-row">{{ weight }}</td>
			<td class="dish__price--one-row">{{ price }}</td>
		</tr>		
	</tbody>
</table></div>

<!-- HOW TO USE>>>>>>> -->

<!--

	
	 <include src="./components/dish-template--one-row.html">{
                            "title": "Торт наполеон",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }</include> 


					-->

