
  <!-- на таке посилання ругается валідатор -->
  <a href="restaurant.html">Ресторан
  </a>
<header class="header-top">
      <div class="container header-line">
          <a class="link logo-link logo-link-restaurant logo-link-room logo-link-hotel" href="./index.html">MIMIHO</a
          >
      <nav class="site-nav">
          <ul class="site-nav__list list">
            <li class="site-nav__item">
              <div class="site-nav__grup">
<a class="link site-nav__link" href="./restaurant.html"
                >Ресторан</a
              >
                <a class="link site-nav__contact" href="tel:+380955559533">
              <svg
                class="site-nav__icon"
                width="24"
                height="24"
              >
                <use href="#"></use></svg
              ><span class="is-hiden-namber">095 555 95 33</span></a>
              </div>
              
            </li>

            <li class="site-nav__item">
              <div class="site-nav__grup">
              <a class="link site-nav__link" href="#"
                >Готель</a>
              <a class="link site-nav__contact" href="tel:+380668491089">
              <svg
                class="site-nav__icon"
                width="24"
                height="24"
              >
                <use href="#"></use></svg
              ><span class="is-hiden-namber">066 849 10 89</span></a>
              </div>
          </li>
          </ul>
        </nav>
        <ul class="list social-links">
                  <li class="item social-links__item">
                    <a
                      class="link social-links__link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                      aria-label="instagram"
                    >
                      <svg class="social-links__icon">
                        <use href="#"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="item social-links__item">
                    <a
                      class="link social-links__link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                      aria-label="facebook"
                    >
                      <svg class="social-links__icon">
                        <use href="#"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="item social-links__item">
                    <a
                      class="link social-links__link"
                      href="#"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                      aria-label="Telegram"
                    >
                      <svg class="social-links__icon">
                        <use href="#"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
      </div>
    </header>