// contact
.contact {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    @include centeringFlex($level: flex-start);
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: $desktop) {
    @include centeringFlex($level: flex-start);
    flex-direction: row;
    gap: 50px;
  }

  // іконки мейл. тел.
  &__icon {
    align-self: center;
  }
}

// розмір іконок контактів для планшету
@media screen and (max-width: 1199px) {
  .contact__icon--envelope-small {
    width: 14px;
    height: 10px;
  }

  .contact__icon--phone-small {
    width: 10px;
    height: 14px;
  }
}


