// heder
.header {
position: sticky;
z-index: 999;
background-color: transparent;
}
// контейнер для хедера
.header-line {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1024px) {
    height: 100px;
  }
}
