// heder
.header-top {
 background-color: $color-background-header;
}
// контейнер для хедера
.header-line {
  display: flex;
  align-items: center;
  background-color: lightcoral;
  @media screen and (min-width: 1024px) {
    height: 100px;
  }
}

