/* Site nav*/
.site-nav {
  display: flex;
  align-items: center;

  &__grup {
    display: flex;
  align-items: center;
  gap: 6px;
   @media screen and (min-width: $tablet) {
    gap: 32px;
  }
  }

  &__list {
    display: flex;
    gap: 26px;
  @media screen and (min-width: $tablet) {
    gap: 80px;
  }
  @media screen and (min-width: $desktop) {
    
  }
  }

  &__item {
    text-decoration: unset;
    text-decoration-line: $color-accent;
  }
  &__link {
  color: $color-accent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;

  @media (max-width: 1023px) {
    padding: 28px 0 12px;
  }
  @media (min-width: 1024px) {
   padding: 36px 0;
    font-size: 20px;
line-height: 24px;
  }

    &:hover,
    &:focus {
    color: $color-brown;
  }
    &.current {
    color: $color-brown;
  }
}
&__icon {
  background-color: yellow;
  }

  &__contact {
  display: flex;

  transition: color 250ms $timing-function;
  @media (max-width: 1023px) {
    padding: 24px 0 12px;
  }

  @media screen and (min-width: $tablet) {
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 40px;
    color: $color-white;
  font-size: $font-size-secondary;
  line-height: 1.214;
  fill: currentColor;
  letter-spacing: 0.02em;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  }
  @media screen and (min-width: $desktop) {
    
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
}


.is-hiden-namber {
  margin-left: 8px;
   @media screen and (max-width: 1023px) {
   position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  }
}
