/* Site nav*/
.site-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__item {
    text-decoration: unset;
    text-decoration-line: $color-accent;
  }
}

.site-nav__link {
  display: block;
  padding: 28px 0 12px;
  color: $color-accent;
  font-weight: $font-weight-secondary;
  font-size: $font-size-tertiary;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;
  background-color: aqua;

  &:hover,
  &:focus {
    color: $color-brown;
  }
  &.current {
    color: $color-brown;
  }

}

.site-nav__contact {
  display: flex;

  color: $color-white;
  font-size: $font-size-secondary;
  line-height: 1.214;
  fill: currentColor;
  letter-spacing: 0.02em;

/* White */

color: #FFFFFF;
  transition: color 250ms $timing-function;

  @media screen and (min-width: $tablet) {
    padding: 0;
    gap: 8px;
    font-size: 12px;
    line-height: 1.167;
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 0;
    gap: 10px;
    font-size: $font-size-secondary;
    line-height: 1.143;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
